{<% if tag.http-kit %>
 <% if tag.reitit %>
 :<{project.ns.name}>.ig/reitit {}
 :<{project.ns.name}>.ig/http-kit {:handler #ig/ref :<{project.ns.name}>.ig/reitit, :port 3000}
 <% else %>
 :<{project.ns.name}>.ig/ring-handler {:message "Hello from the Ring handler."}
 :<{project.ns.name}>.ig/http-kit {:handler #ig/ref :<{project.ns.name}>.ig/ring-handler, :port 3000}
 <% endif %>
 <% endif %>}
