^{:watch-dirs ["src/cljs"]
  :css-dirs ["resources/public/css"]
  :open-url "http://[[server-hostname]]:[[server-port]]/devcards.html"}
{:main {{devcards.cljs.ns.name}}
 :devcards true
 :source-map-timestamp true}
